.navbarStyle {
  display: flex;
  justify-content: space-evenly;
}
.searchBar {
  margin-top: 32px;
}
.searchBar input {
  padding: 7px;
  width: 228px;
  border-radius: 9px;
}
.travelIcon img {
  width: 90px;
  height: 50px;
  margin-top: 17px;
  background-color: rgb(236, 233, 233);
}

.navLink {
}

.navLink ul {
  list-style-type: none;
  display: flex;
}

.navLink li {
  padding: 23px;
}
.navLink li a {
  text-decoration: none;
  color: rgb(98, 74, 233);
  font-weight: 500;
}

.navLink li a:hover {
  background-color: gray;
  color: white;
  font-weight: 600;
}

.logIn {
  background-color: "#ee6226";
  padding: 6px 14px;
  border-radius: 6px;
}
